<table id="tablaProductos" class="table table-hover">
    <tbody>
        <tr class="table-primary"><th>Titulo</th> <th>Precio</th><th>Imagen</th></tr>
        {{#each products}}
            <tr id='{{this.id}}'><td>{{this.id}}. {{this.title}}</td><td>{{this.price}}</td><td><img width="75" src="{{this.thumbnail}}"></img</td></tr>
        {{/each}}
    </tbody>
</table>

